<section class="movie-card">
  <img class="movie-poster" {{action "openModal" movie}} src="http://localhost:3000/images/posters/{{movie.poster_filename}}"/>
  <p class="movie-title">{{movie.title}}</p>
  <button class="btn btn-success btn-xs">Add to Queue</button>
</section>
