  <main class="col-md-4 side-toggle">
    <a href="#sidebar" data-toggle="collapse" {{action "collapse"}}>{{fa-icon "navicon" size="lg"}}your queue</a><br> 
</main>
{{#bs-collapse collapsed=collapsed}}
<br>
  <div class="col-md-8 collapse in" id="sidebar">
    <div class="list-group panel">
      <br>
      list     
            
    </div>
  </div>
{{/bs-collapse}}  

