body {
	margin: 0;
	padding: 0;
	width: 1200px;
}

img.poster {
	width: 100%;
	height: 100%;
}

.movie-detail {
	margin-left: 200px;
	height: 100%;
	width: auto;
	position: relative;
	overflow: auto;
	z-index: 1;
}

button#prev-next:hover {
	background-color: blue;
}

button#prev-next {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.hidden {
    display:none;
}

.movie-detail:hover > .hidden {
    display:block;
}

.sidebar {
		position: fixed;
		width: 200px;
		height: 600px;
		background-color: white;
		display: inline-block;
}

.info {
		width: 1440px;
		height: 300px;
		position: relative;
		background: #f55;
}
