/*CHANGE THIS SO ITS MORE SPECIFIC TO THE ALL MOVIES IMAGES*/
.all-movie-img {
    width: 20%;
    float: right;
    margin-bottom: 1rem;
}

.imgwrapper {
  display: inline;
}

h1, h2 {
  text-align: center;
  color: red;
}

.buttons {
  text-align: center;
}

.selectedmovie {
  width: 60%;
  text-align: center;
  background-color:yellow;
  min-height:30rem;
  max-height:30rem;
}

.movieoutlet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.queuecontainer {
  background-color: lightblue;
  float:left;
  min-height:10rem;
  width:100%;
  clear: both;
  /*border-radius: 4rem;*/
}

.queueheader {
  /*background-color: blue;*/
  text-align: center;
}

.queueimg {
  width: 10rem;
  height: 12rem;
  padding: .5rem;
}

.queuemovie {
  float: left;
}

.overlay    {
   opacity:0;
   -webkit-transition: opacity .25s ease;
   -moz-transition: opacity .25s ease;
   text-align: center;
 }

.queuemovie:hover .overlay {
               opacity:1;}

.queuemovie:hover {
  background-color: gray;
}

.leftnavbtn {
  margin-right: 40rem;
}

.navbtn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 10rem;
  width: 10rem;
}

a {
  text-decoration: none;
}
