html {
  font-size: 20px;
}

h1 {
  font-family: 'Mrs Sheppards', cursive;
  text-align: center;
  font-size: 5rem;
  color: limegreen;
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}

.movie-list {
  margin: 0 auto;
  text-align: center;
  /*width: 1500px;*/
}

.poster {
  display: inline-block;
  height: 12rem;
  width: 12rem;
  margin: 1.25rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
}

.poster img {
  height: 12rem;
  width: 12rem;
  border-radius: 10%;
  box-shadow: 5px 5px 5px #888888;
}

.poster:hover img {
  height: 14rem;
  width: 14rem;
  transition: all 0.25s;
}

.poster:hover .description {
  display: inline-block;
}

.title {
  margin: 0;
}

.view-poster {
  height: 18rem;
  width: 18rem;
}

.description {
  display: none;
  position: absolute;
}

/*.selected {
  color: red;
  position: absolute;
}

.selected:hover {
  color: white;
}*/

/*.description {
  /*display: none;*/
  /*float: left;
  position: absolute;
}*/

/*.description:hover {
  /*display: block;*/
/*}*/
