img {
    width: 70%;
}

.row {
  text-align: center;
}

h1, h2 {
  text-align: center;
  color: red;
}

.buttons {
  text-align: center;
}

.selectedmovie {
  background-color: lightblue;
  text-align: center;
}

.queue {
  background-color: lightgreen;
  text-align: center;
}

.queueimg {
  width: 10rem;
  height: 12rem;
  padding-right: .5rem;
  padding-top: .5rem;
}
