
* {
  font-family: 'Atma', cursive;
}

h1 {
  padding-top: 2%;
  text-align: center;
  color: #861657;
  font-size: 45px;
}

.next {
  margin-bottom: 2%;
  margin-left: 20%;
}

.prev {
  margin-bottom: 2%;
  margin-left: 20%; 
}

img {
  height: 300px;
  width: 200px;
  padding: 10px;
}

a { text-decoration: none; }

button:focus { outline: 0; }

#movie-container {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}

#queue-container {
}

.box:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  z-index: -1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  display: none;
  z-index: 1001;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #861657;
  font-size: 40px;
}

.popup .close {
  position: absolute;
  top: 0;
  right: 15px;
  transition: all 200ms;
  font-size: 60px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover { color: #861657; }

.popup .content {
  max-height: 30%;
  overflow: auto;
  font-size: 20px;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 80%;
  }
}

.queue-button {
  height: 100px;
  margin-left: 10%;
}

.prev, .next {
  background-color: #78bec5;
  border: none;
  background-color: Transparent;
  font-weight: bolder;
  border: 2px solid #861657;
  margin-top: 2%;
  font-size: 20px;
  cursor: pointer;
  border-radius: 15px;
  height: 3em;
  width: 8em;
}

.queue {
  background-color: #78bec5;
  border: none;
  background-color: Transparent;
  border: 2px solid #861657;
  margin-top: 2%;
  margin-left: 15%;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  height: 3em;
  width: 7em;
}


.queue:hover, .next:hover, .prev:hover {
  background-color: rgba(147, 225, 216, 0.8);
  border-radius: 15px;
  border: none;
  transition: all 0.3s linear;
}

.queue-menu {
  margin-top: 2%;
  margin-right: 3%;
  margin-left: 3%;
}

.queue-menu .panel-heading {
  text-align: center;
  background-color: Transparent !important;
}

.queue-menu .panel-heading:hover {
  background-color: rgba(147, 225, 216, 0.8) !important;
  border: none !important;
  transition: all 0.3s linear;
}

.queue-menu .panel-heading a {
  font-size: 30px;
  text-decoration: none;
}

.nothing-added {
  text-align: center;
  font-size: 20px;
} 
