body {
	margin: 0;
	padding: 0;
}

.movie-detail {
	margin-left: 200px;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;
	display: inline-block;
}

button#prev-next:hover {
	background-color: blue;
}

button#prev-next {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}

.hidden {
  display: none;
	width: inherit;
}

.movie-detail:hover > .hidden {
  display: inline;
}

.sidebar {
	position: fixed;
	width: 400px;
	height: 600px;
	background-color: white;
	display: inline-block;
	margin-top: 20px;
}
