html {
   font-size: 16px;
   font-family: 'Helvetica', 'Arial', sans-serif;
   text-align: center;
 }

 * {
   box-sizing: border-box;
   padding: 0;
   margin: 1rem auto;
 }

 div {
   display: inline-block;
 }

 div.container {
   display: block;
   text-align: center;
 }

.ember-view {
  display: inline-block;
}


 div.movie {
   background: red;
   width: 17%;
 }

  .selected {
    background: white;
  }

 .poster {
   display: inline;
   width: 75%;
 }

 .movie-detail {
   display: inline-block;
   width: 80%;
 }
