header {
  background-color:rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 50px #000000,
                  6px 6px 7px black;

}

body{
  margin-top: 4em;
  background: #171717;
}


h1, h2, h3, h4, h4, h5, h6 {
  margin: .7em 0;
  font-family: fantasy;
  color: #ffffff;
  /*text-shadow: 3px 3px 3px #4CAF50;*/
  /*text-shadow: 6px 6px 5px black;*/
text-shadow: -2px 2px 2px black,
              -2px 2px 5px #4CAF50,
              -10px 10px 10px black;
  margin-left: 45px;
  text-align: center;
  padding-right: 30px;

}

table {
  /*padding-right: 0px;*/
  margin-left: 120px;
  font-family: fantasy;
  color: #ffffff;
  width: 1000px;
}

tbody {
  padding: 0px;
}

td {
  display: inline-block;
  max-width: 300px;
  vertical-align: top;
  padding: 30px;
  text-align: center;
  font-size: 20px;
}

.stuffs {
  margin: 0 auto;
  width: 1425px;
}

.opaque {
  margin: 30px;
  /*background-color: #ffffff;*/
  border: 1px solid black;
  /*opacity: 0.3;*/
}


.info {
  text-shadow: 2px 2px 3px black;
  width: 150px;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
  padding-left: 10%;

}

.info{
  text-shadow: -2px 2px 2px black,
                -2px 2px 5px #4CAF50,
                -10px 10px 10px black;
}

p{
  text-shadow: -2px 2px 2px black,
                -2px 2px 5px #4CAF50,
                -10px 10px 10px black;
}

.buttonLeft {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 1110px;
    cursor: pointer;
    margin-left: 45px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 6px 6px 7px black;
    border-radius: 75%;
}

.buttonRight {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 45px;
    text-shadow: 2px 2px 5px black;
    box-shadow: 6px 6px 7px black;
    border-radius: 75%;
}

.buttons {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 24rem;
  width: 18rem;
  border-spacing: 0.5rem;
  border: white;
  border-style: solid;
  border-radius: 10px;
  box-shadow: 6px 6px 5px black;
  opacity: 1;
}

img { transition: all .2s ease-in-out; }

img:hover {
  transform: scale(1.2);
}

.selected {
  background-color: rgb(240, 167, 26);
}

.movieInfo {
  opacity: 0;
  z-index: -1;
}

.overview {
  position: absolute;
  width: 1000px;
  display: none
}

.overview:hover {
  transform: scale(5);
}

.show {
  margin-left: 10px;
  margin-right: 100px;
  position: absolute;
  width: 700px;
  height: 500px;
  background-color: black;
  backface-visibility: visible;
  border-width: thin;
  border-color: white;
  border-style: solid;
}


/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #4CAF50;
    text-decoration: none;
    cursor: pointer;
}

.overview {
  color: black;
}


.glyphicon-plus-sign:hover {
    color: #4CAF50;
}

.thumb {
  width: 100%;
  height: 100%;
}

.queue-section {
  clear: both;
  text-align: center;
  margin-bottom: 2rem;
}


.things{
  background-color:rgba(0, 0, 0, 0.5);
  box-shadow:inset 0 0 50px #000000,
                  6px 6px 7px black;
}

.movie-queue {
  display: inline-block;
  width: 10%;
}

.queue-poster {
  box-shadow: 5px 5px 5px black;
  margin-left: 10px;
  margin-right: 10px;
}

.remove-queue {
  color: #4CAF50;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
  float: right;
}

.queue-title {
  color: #ffffff;
  font-weight: bold;
}

.add-overlay {
  color: #33cc33;
  float: right;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
}


h2.queue {
  padding-top: 2rem;
  padding-bottom: 0;
}

h3.clear-all {
  color: #ffffff;
  font-size: 2rem;
  padding: 0;
  margin-top: 0;
  margin-bottom: 2rem;
  border-style: solid;
  border-color: #4CAF50;
  border-radius: 75%;
  width: 85px;
  height: 40px;
  margin-right: 75px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-left: 2px;
  background-color: #4CAF50;
  box-shadow: 6px 6px 7px black;
  float:right;
}

.no-movies {
  height: 15%;
}

.add-to-queue {
  color: #aaa;
  text-shadow: 1px 1px 3px black;
  /*float: right;*/
  margin-bottom: 25px;
}

.add>p{
  float: right;
  margin-left: 10px;
}

.add{
  display: inline-block;
  float: right;
}
