<container class='queue'>
{{#draggable-dropzone dropped="addMovie"}}
<h2>Queue!</h2>
{{#each selectedMovies as |movie|}}
    <td class='movie'>
      {{movie.title}}
      <img src="http://localhost:3000/images/posters/{{movie.poster_filename}}">
    </td>
  {{/each}}
{{/draggable-dropzone}}
</container>