<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class= "container">
    <img class="logo" src="../images/blockbuster.png">
  </div>
</nav>

<div class= "container" id="grid">
  <div class= "row">
      {{outlet}}
  </div>
</div>
