<h1>Kiosk </h1>

<div class="controls">
  <button class="prev" {{action "getPrev" on="click"}} id="prev">Previous</button>
  <button class="next" {{action "getNext" on="click"}} id="next">Next</button>
</div>

<div id='movies'>
{{movie-list movie=model}}
</div>

{{outlet}}
