<div class='buttons'>
  <button {{action 'prevPage'}}>←</button>
  <button {{action 'nextPage'}}>→</button>
</div>

{{#each model as |movieUnit|}}
  {{movie-listing movie=movieUnit addToQueue=(action 'addMovie')}}
{{/each}}

<aside>
  <h2>Queue</h2>
  {{#each queue as |movie|}}
    <img class="thumb" src="http://localhost:3000/images/posters/{{movie.posterFilename}}">
  {{/each}}
</aside>
