{{outlet}}

<ul>
  {{#each model as |movie|}}
    <li><img src="http://localhost:3000/images/posters/{{movie.poster_filename}}"></li>
  {{/each}}
</ul>

<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>