<h1>Movies</h1>

<ul>
{{#each model as |movies|}}
 <li>{{movies.title}}</li>
{{/each}}
</ul>
{{page-through-movies}}

<button {{action 'clickPrev'}} id="previous">prev</button>
<button {{action 'clickNext'}} id="next">next</button>