{{outlet}}


<button {{action 'prevPage'}}>←</button>
<button {{action 'nextPage'}}>→</button>

<ul>
  {{#each model as |movie|}}
    <li>
      <img src="http://localhost:3000/images/posters/{{movie.posterFilename}}">
    </li>
  {{/each}}
</ul>

{{!-- <aside>
  <h2>Queue</h2>
</aside> --}}
