<h2>Movies Go Here!!!</h2>

<ul>
  {{#each model as |movie|}}
    <li>{{movie.title}}</li>
  {{/each}}
</ul>

<button {{action "previousPage"}}> Previous </button>
<button {{action "nextPage"}}> Next </button>

{{outlet}}
