{{outlet}}

<ul>
  {{#each model as |movie|}}
    <li>{{movie.title}}</li>
  {{/each}}
</ul>
<div class='controls'>
	<button class='prev' id='prev'>Previous</button>
	<button class='next' id='next'>Next</button>
</div>

