<div class="stuffs">
<br>
  <div class= "buttons">

    <button class="buttonLeft" {{action "previousPage"}}>◀︎</button>
    <button class="buttonRight" {{action "nextPage"}}>▶︎</button>


  </div>



    <table class="table">
      <tbody>
      {{#each model as |movies|}}
        <td>
          {{movie-listing movie=movies}}

        </td>

        {{/each}}
      </tbody>
    </table>





    {{outlet}}
</div>
