{{outlet}}

<ul>
  {{#each model as |movie|}}
    <li>{{movie.title}}</li>
  {{/each}}
</ul>
<div class='controls'>
{{#view "clickable"}}
	<button class='next' id='next'>Next</button>
This is a clickable area!
{{/view}}
	<button class='prev' id='prev'>Previous</button>
</div>