<div class='buttons'>
  <button {{action 'prevPage'}}>←</button>
  <button {{action 'nextPage'}}>→</button>
</div>

{{#each model as |movieUnit|}}
  {{movie-listing movie=movieUnit}}
{{/each}}

{{!-- <aside>
  <h2>Queue</h2>
</aside> --}}
