
<button {{action "prevPage"}}>Previous</button>
<button{{action "nextPage"}}>Next</button>
<ul>
  {{#each model as |movie|}}
    <li>{{movie.title}}</li>
    <li><img src="http://localhost:3000/images/posters/{{movie.poster_filename}}"></li>
  {{/each}}
</ul>
